.product{
    display: flex;
    padding-right: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400px;
}
.main-button{
    background-color: goldenrod;    
    width: 150px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}